/* ----------HORIZONTAL MENU---------------- */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab a {
    font-family: "Urbanist", sans-serif;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    text-decoration: none; 
    color: black; 
}

.tab a:hover {
    background-color: #003caa;
    color: white;
}

.tab a.active {
    background-color: #003caa;
    color: white;
}

/*LOGO*/
.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
    margin-left: 10px; 
    margin-top: 10px; 
}
.logo {
    max-width: 150px;
    height: auto;
    margin-right: auto;
}
/**/


/** make sure BODY is the same for every page**/

body {
    font-family: "Urbanist", sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
}

/* TEAM INFORMATION */


.team-grid {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.jullia_info {
    padding: 10px;
    color: white;
    border: 1px solid black;
    background-color:#084424;
    display: flex; 
    /* gap: 20px;  */
    /* align-items: center; */
}

.lyndon_info {
    padding: 10px;
    color: black;
    border: 1px solid black;
    background-color: #f33a01;
    display: flex;
    /* gap: 20px;  */
    /* align-items: center; */
}


.text-wrapper {
    flex-grow: 1;
    /* display: flex; 
    justify-content: space-between;  */
}

/* h3 {
    margin: 0;
    text-align: right;
    font-size: small;
} */

.name   {
    text-align: left;
    margin: 0;
    font-size: x-large;
    font-weight: 900;
}

.positions {
    margin: 0;
    text-align: right;
}

.positions_list {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.profile    {
    background-color: white;
}

.profile img    {
    width: 80%;
    height: auto;
}



/* 
remove padding in ly and ej if want to span the whole container
*/

/* hr  {
    border: none; 
    border-top: 1px solid #000; 
    margin-top: 10px;
    
}  */

